<div class="cards">
  <card borderRadius="1rem 0 0 1rem"></card>
  <card
    subtitle="Professional"
    title2="24.99"
    listItem1="1 TB Storage"
    listItem2="5 Users Allowed"
    listItem3="Send up to 10 GB"
    height="31rem"
    background="#7d81e4"
    colorSubtitle="#ffffff"
    colorTitle="#ffffff"
    colorItem1="#ffffff"
    colorItem2="#ffffff"
    colorItem3="#ffffff"
    borderColorButton="#ffffff"
    colorButton="#ffffff"
  ></card>
  <card
    subtitle="Master"
    title2="39.99"
    listItem1="2 TB Storage"
    listItem2="10 Users Allowed"
    listItem3="Send up to 20 GB"
    borderRadius="0 1rem 1rem 0"
  ></card>
</div>
